<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="#">
</head>
  <body>
    <h1>Welcome to the Homepage!</h1>

        <!--ONLY LOADED IF USERNAME IS IN SESSION (DASHBOARD STUFF)-->
        {% if loggedin %}
        <form method="POST">
            <button type="submit" name="type" value="profilebutton">Go to Your Profile</button>
        </form>
        <form method="POST">
            <button type="submit" name="type" value="logoutbutton">Logout</button>
        </form>
        <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
          <div class="md:flex">
            <div class="p-8">
              <p class='block mt-1 text-clifford md:text-lg lg:text-xl leading-tight font-medium hover:underline'>{{Calendarific_Info}}</p>
            </div>
          </div>
        </div>
        <!--ONLY LOADED IF USERNAME IS NOT IN SESSION (LOGIN/REGISTER BUTTONS)-->
        {% else %}
            <!--BUTTON TO REDIRECT TO LOGIN PAGE-->
            <form method="POST">
                <button type="submit" name="type" value="loginbutton">Login</button>
            </form>
            <br>
            <!--BUTTON TO REDIRECT TO SIGNUP PAGE-->
            <form method="POST">
                <button type="submit" name="type" value="signupbutton">Sign Up</button>
            </form>
        {% endif %}
        <br><br><br>
  </body>
</html>
