<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="#">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              weezer: '#189bcc'
            }
          }
        }
      }
    </script>
</head>
  <body>
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <p class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">The Keratin Chronicle</span>
      </p>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          {% if loggedin %}
          <li>
            <a href="/logout" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-weezer md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</a>
          </li>
          <li>
            <a href="/profile" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-weezer md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Profile</a>
          </li>
          {% else %}
          <li>
            <a href="/login" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-weezer md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Login</a>
          </li>
          <li>
            <a href="signup" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-weezer md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Signup</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

        <!--ONLY LOADED IF USERNAME IS IN SESSION (DASHBOARD STUFF)-->
        {% if loggedin %}
          </form>
          <br>
          <br>
          <br>
          <div class="flex flex-row justify-center space-x-10 mx-auto overflow-hidden md:max-w-300 w-auto">
            <div class='block mt-1 text-weezer md:text-lg lg:text-xl leading-tight font-medium bg-slate-300 shadow-md rounded-lg pl-5 pr-5 w-1/4'>
              {% if holiday_today is string %}
              <p class="pb-5 text-center">There are no holidays today!</p>
              {% else %}
              <p class="pb-5 text-center">Today is:</p>
              {% set holidayinfolist = holiday_stuff %}
              {% for holiday in holiday_today %}
              <p>{{holiday}}<br class="hidden sm:inline" /><sub>{{holidayinfolist[loop.index0]}}</sub></p>
              {% endfor %}
              {% endif %}
            </div>
            <div class = "flew flex-col block mt-1 text-weezer md:text-lg lg:text-xl leading-tight font-medium bg-slate-300 rounded-lg pl-5 pr-5">
              <p class="pb-5 text-center">Today's stock updates:</p>
              {% for name, symbol in all_stocks.items() %}
              <ul>
                <form action="/stock" method="POST">
                  <button class="hover:underline" type="submit" name="name" value = "{{name}}">{{name}}({{symbol}})</input>
              </ul>
              {% endfor %}
            </div>
            <div class='block mt-1 text-weezer md:text-lg lg:text-xl leading-tight font-medium bg-slate-300 rounded-lg pl-5 pr-5'>
              <p class='pb-5'>Today's Forecast: </p>
              <p>{{city}}, {{state}}<p>
              <p>{{weather_main}}</p>
              <p>{{weather_desc}}</p>
              <div class = "items-center">
                {% if weather_desc == "mist" %}
                  <img src="https://openweathermap.org/img/wn/50d@2x.png" alt="{{weather_desc}} Icon">
                {% elif weather_desc == "clear sky" %}
                  <img src="https://openweathermap.org/img/wn/01d@2x.png" alt="{{weather_desc}} Icon">
                {% elif weather_desc == "few clouds" %}
                  <img src="https://openweathermap.org/img/wn/02d@2x.png" alt="{{weather_desc}} Icon">
                {% elif weather_desc == "scattered clouds" %}
                  <img src="https://openweathermap.org/img/wn/03d@2x.png" alt="{{weather_desc}} Icon">
                {% elif weather_desc == "broken clouds" %}
                  <img src="https://openweathermap.org/img/wn/04d@2x.png" alt="{{weather_desc}} Icon">
                {% elif weather_desc == "shower rain" %}
                  <img src="https://openweathermap.org/img/wn/09d@2x.png" alt="{{weather_desc}} Icon">
                {% elif weather_desc == "light rain" %}
                  <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="{{weather_desc}} Icon">
                {% elif weather_desc == "thunderstorm" %}
                  <img src="https://openweathermap.org/img/wn/11d@2x.png" alt="{{weather_desc}} Icon">
                {% elif weather_desc == "snow"%}
                  <img src="https://openweathermap.org/img/wn/13d@2x.png" alt="{{weather_desc}} Icon">
                {% endif %}
              </div>
              <p>Temp: {{temp_info}}</p>
              <p>Feels like: {{feel_temp}}</p>
            </div>
            <div class = "flew flex-col block mt-1 text-weezer md:text-lg lg:text-xl leading-tight font-medium bg-slate-300 rounded-lg pl-5 pr-5">
              <p class="pb-5 text-center">Today's News</p>
              {% for n in range(all_news.Headings|length - 1) %}
              <ul>
                <li> <a href= '{{all_news.Link[n]}}' class="hover:underline">{{all_news.Headings[n]}}</a> <br class="hidden sm:inline" /><sub>{{all_news.Desc[n]}}</li>
              </ul>
              {% endfor %}
            </div>
          </div>

        {% else %}
          <h2 class = "text-center mt-10 text-3xl"> Welcome! Please log in or sign up to view your preferred content. </h2>
        {% endif %}
        <br><br><br>
  </body>
</html>
