<!DOCTYPE html>

<html>
  <head>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Preferences </title>
    <link rel="stylesheet" href="#" >
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            }
          }
        }
      }
    </script>
  </head>

  <body>
    <h1>Change User Preferences for {{username}}</h1>
    <br><p>Here are your current settings!</p>
    <p>City: {{userlocation}}</p>
    <p>News Sections: {{usernews|join(', ')}}</p>
    <p>Stocks: {{userstocks|join(", ")}}</p>

    <br><p>You have to choose each type individually <br> Hold Left Control to select multiple</p>
    <br>
    <form method="POST" action="/profile">
      <label for="city_name">Choose the city you live in:</label>
      <select name="city_name" id = "city_name">
        {% for city in cities %}
        <option value="{{city}}">{{city}}</option>
        {% endfor %}
      </select>
      <br>
      <br>
      <label for="stock_names">Choose the stocks you want to follow:</label>
      <br>
      <select name="stock_names" id = "stock_names" size="10" multiple>
        {% for stock in stocks %}
        <option value="{{stock}}">{{stock}}</option>
        {% endfor %}
      </select>
      <br class="hidden sm:inline" />
      <br class="hidden sm:inline" />
      <label for="section_names">Choose the news types you want to follow:</label>
      <br class="hidden sm:inline" />
      <br class="hidden sm:inline" />
      <select name="section_names" id = "section_names" size="10" multiple>
        {% for newsType in sections %}
        <option value="{{newsType}}">{{newsType}}</option>
        {% endfor %}
      </select>
      <br class="hidden sm:inline" />
      <br class="hidden sm:inline" />
      <input type="submit" name="sub1">
      <br>
      <a href="/">
        <button type="submit" name="type" value="returnhome">Return to Homepage</button>
      </a>
    </form>


  </body>
</html>
