<!DOCTYPE html>

<html>
  <head>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Profile </title>
    <link rel="stylesheet" href="#" >
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            }
          }
        }
      }
    </script>
  </head>

  <body>
    <h1>This is You</h1>
    <br>
    <form method="POST">
        <button type="submit" name="type" value="prefsbutton">Change What You See!</button>
      </form>
    <br>

    <!--BUTTON TO REDIRECT TO THE HOMEPAGE (WITHOUT LOGGING IN)-->
    <form method="POST">
      <button type="submit" name="type" value="returnhome">Return to Homepage</button>
    </form>
  </body>
</html>
