<!DOCTYPE html>

<html>
  <head>
    <title> SIGN UP PAGE </title>
    <link rel="stylesheet" href="#" >
  </head>

  <body>
    <h1>REGISTER FOR AN ACCOUNT</h1>
    <br>
    <!--SENDS POST REQUEST TO HTTPS (USERNAME + PASSWORD) AND THEN REDIRECTS BACK TO HOME PAGE-->
    <!--may need to adjust for if login error (incorrect username/password)-->
    <form method="POST">
      <input type="text" placeholder="Username" name="name">
      <input type="password" placeholder="Password" name="password">
      <button type="submit" name="type" value="signupenter">Enter</button>
    </form>    
    <br>
    
    <!--BUTTON TO REDIRECT TO THE HOMEPAGE (WITHOUT LOGGING IN)-->
    <form method="POST">
      <button type="submit" name="type" value="returnhome">Return to Homepage</button>
    </form>
  </body>
</html>

