<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="#">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            }
          }
        }
      }
    </script>
</head>
  <body>
    <h1>We're sorry, something went wrong with the api keys</h1>

    <h3>Please make sure to check your files to make sure the api keys are in place, and the terminal used to run the app for more info </h3>
  </body>
</html>
